@import 'base/components_base';
@import 'base/form_variables';

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.formGroup {
  margin-bottom: $px30;
  position: relative;

  &.errorWrap {
    .inputTextDefault {
      border-color: $pro-color-scarlet;
      padding-right: $px24;
    }

    .iconWrap {
      display: block;
      color: $pro-color-scarlet;
    }
  }

  @include bp-tablet {
    margin-bottom: $tablet-px35;
  }

  @include bp-phone {
    margin-bottom: $phone-px35;
  }
}

form {
  .inputTextDefault {
    @extend %input-text-default;

    background-color: $pro-color-white;
    font-family: $font-WB;
    font-size: $px16;

    &:focus {
      @extend %input-text-focus;

      margin-bottom: 0;
      background-color: $pro-color-white;
    }

    @include bp-tablet {
      padding-right: $tablet-px24;
      font-size: $tablet-px16;
    }

    @include bp-phone {
      padding-right: $phone-px24;
      font-size: $phone-px16;
    }
  }

  .label {
    @extend %label;

    @include bp-tablet {
      font-size: $tablet-px16;
    }

    @include bp-phone {
      font-size: $phone-px16;
    }
  }

  .buttonLogin {
    @include formButton(block, $px290, $pro-color-turquoise-1B, $pro-color-white, 4px);

    margin: 0 auto;
    padding: $px10 0;
    outline: 0;
    border: none;
    text-align: center;
    font-size: $px18;
    line-height: 1.3;
    font-family: $btn-form;
  }

  .wrapFormLinkSmall {
    text-align: center;

    .smallText {
      @extend %small-text-form;

      cursor: pointer;

      @include bp-tablet {
        font-size: $tablet-px16;
      }

      @include bp-phone {
        font-size: $phone-px16;
      }
    }
  }

  .bottomButtonWrapper {
    margin-bottom: $px25;
    text-align: center;

    @include bp-tablet {
      margin-bottom: $tablet-px25;
    }

    @include bp-phone {
      margin-bottom: $phone-px25;

      button {
        min-width: $phone-px140;
      }
    }
  }
}

.wrap {
  padding: $px60 $px50 $px50;
  position: relative;

  p {
    font-family: $font-WM;
    font-size: $px16;
    line-height: 1.2;
    margin: 0 0 $px20;
    color: $pro-color-gray-999;

    @include bp-tablet {
      font-size: $tablet-px16;
      margin: 0 0 $tablet-px20;
    }

    @include bp-phone {
      font-size: $phone-px16;
      margin: 0 0 $phone-px20;
    }

    &.fullLayout {
      margin: -$px50 (-$px50) $px20;
      padding: $px30 $px130;
      background-color: $pro-color-white-f2;
      text-align: center;

      @include bp-tablet {
        padding: $tablet-px30 $tablet-px130;
        margin: -$tablet-px50 (-$tablet-px50) $tablet-px20;
      }

      @include bp-phone {
        padding: $phone-px25 $phone-px25;
        margin: -$phone-px25 (-$phone-px25) $phone-px10;
      }
    }
  }

  @include bp-tablet {
    font-size: $tablet-px28;
    padding: $tablet-px50;
  }

  @include bp-phone {
    font-size: $phone-px28;
    padding: $phone-px60 $phone-px25;
  }

  &.forgetPassModal {
    padding: $px10 0 0;
    position: static;
  }
}

.errorMsgWrap {
  font-size: $px13;
  padding: $px5 0;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  color: $pro-color-scarlet;

  @include bp-tablet {
    font-size: $tablet-px13;
    padding-top: $tablet-px5;
  }

  @include bp-phone {
    font-size: $phone-px13;
    padding-top: $phone-px5;
  }
}

.successMessageWrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: $px5;
  background-color: $pro-color-turquoise-4F;

  p {
    font-family: $font-WM;
    font-size: $px16;
    line-height: 1.4;
    color: $pro-color-white;
    text-align: center;
    margin: 0;

    @include bp-tablet {
      padding: $tablet-px10;
      font-size: $tablet-px16;
    }

    @include bp-phone {
      padding: $phone-px8;
      font-size: $phone-px14;
    }
  }
}

.iconWrap {
  position: absolute;
  display: none;
  font-size: $px16;
  right: $px4;
  bottom: $px4;

  @include bp-tablet {
    font-size: $tablet-px24;
  }

  @include bp-phone {
    font-size: $phone-px24;
  }
}
