/*
$PHead-Bold: 'PublicoHeadline-Bold';
$PHead-MediumItalic: 'PublicoHeadline-MediumItalic';
$PHead-Medium: 'PublicoHeadline-Medium';
$PHead-Roman: 'PublicoTextMono-Semibold';
$PHead-BoldItalic: 'PublicoHeadline-BoldItalic';
$PHead-Light: 'PublicoHeadline-Light';
$PHead-Black: 'PublicoHeadline-Black';
$PHead-LightItalic: 'PublicoHeadline-LightItalic';
$PText-Roman: 'PublicoText-Roman';
$PText-BoldItalic: 'PublicoText-BoldItalic';
$PTextMono-SBold: 'PublicoTextMono-Semibold';
$PTextMono-Italic: 'PublicoTextMono-Italic';
$PTextMono-BoldItalic: 'PublicoTextMono-BoldItalic';
$PTextMono-Bold: 'PublicoTextMono-Bold';
$PText-Italic: 'PublicoText-Italic';
$PTextMono-SBoldItalic: 'PublicoTextMono-SemiboldItalic';
$PText-Bold: 'PublicoText-Bold';
$PText-SemiBold: 'PublicoText-Semibold';
$PBanner-Bold:'PublicoBanner-Bold';
$PBanner-ExtraBoldItalic:'PublicoBanner-ExtraboldItalic';
$PBanner-BlackItalic:'PublicoBanner-BlackItalic';
$PBanner-Roman:'PublicoBanner-Roman';
$PBanner-Black:'PublicoBanner-Black';
$PBanner-Ultra:'PublicoBanner-Ultra';
$PBanner-BoldItalic:'PublicoBanner-BoldItalic';
$WBook: 'Whitney-Book';
$WBookSc: 'Whitney-BookSC';
$WBook-ItalicSc: 'Whitney-BookItalicSC';
$WBook-Italic: 'Whitney-BookItalic';
$WMedium: 'Whitney-Medium';
$WMediumSc: 'Whitney-MediumSC';
$WMedium-ItalicSc: 'Whitney-MediumItalicSC';
$WMedium-Italic: 'Whitney-MediumItalic';
$WLight: 'Whitney-Light';
$WLightSc: 'Whitney-LightSC';
$WLight-ItalicSc: 'Whitney-LightItalicSC';
$WLight-Italic: 'Whitney-LightItalic';
$WBoldSc: 'Whitney-BoldSC';
$WBold-ItalicSc: 'Whitney-BoldItalicSC';
$WBold-Italic: 'Whitney-BoldItalic';
$WBold: 'Whitney-Bold';
$WSemiBold: 'Whitney-Semibold';
$WSemiBoldSc: 'Whitney-SemiboldSC';
$WSemiBold-ItalicSc: 'Whitney-SemiboldItalicSC';
$WSemiBold-Italic: 'Whitney-SemiboldItalic';
$WBlackSc: 'Whitney-BlackSC';
$WBlack-ItalicSc: 'Whitney-BlackItalicSC';
$WBlack-Italic: 'Whitney-BlackItalic';
$WBlack: 'Whitney-Black';
$CDisplay-Bold: 'ChronicleDisplay-Bold';
*/

/* fonts */
$font-PTR: 'PublicoText-Roman';
$font-PTBold: 'PublicoText-Bold';
$font-PTSemiBold: 'PublicoText-Semibold';
$font-PHBold: 'PublicoHeadline-Bold';
$font-PHMedium: 'PublicoHeadline-Medium';
$font-PTItalic: 'PublicoText-Italic';
$font-PHBoldItalic: 'PublicoHeadline-BoldItalic';
$font-WB: 'Whitney-Book';
$font-WRItalic: 'Whitney-BookItalic';
$font-WM: 'Whitney-Medium';
$font-WSB: 'Whitney-Semibold';
$font-WBold: 'Whitney-Bold';
$font-WMItalic: 'Whitney-MediumItalic';

/* button form */
$btn-form: $font-WM;

/* Font icon path */
$font-icon-path: '/font-icons';

/* Colors */

/* White color */
$pro-color-white: #fff; /* white: #fff; */
$pro-color-white-f7: #f7f7f7; /* $f7: #f7f7f7; */
$pro-color-white-f8: #f8f8f8;
$pro-color-white-f2: #f2f2f2; /* $f2: #f2f2f2; */
$pro-color-white-transp01: rgba($pro-color-white, 0.1);
$pro-color-white-transp03: rgba($pro-color-white, 0.3);
$pro-color-white-transp05: rgba($pro-color-white, 0.5);
$pro-color-white-transp07: rgba($pro-color-white, 0.7);
$pro-color-white-transp08: rgba($pro-color-white, 0.8);

/* color was changed to construction like this: $white-transp050 = rgba($pro-color-white, 0.5)
$white-transp050: rgba($white, 0.5);
$black-transp015: rgba($black, 0.15);
$black-transp012: rgba($black, 0.12);
$black-transp025: rgba($black, 0.25);
$black21-transp070: rgba($black-21, 0.7);
*/

/* Black and gray colors */
$pro-color-black: #000; /* $black: #000; */
$pro-color-black-1A: #1a1a1a; /* $black-1A: #1a1a1a; */
$pro-color-black-111: #111;
$pro-color-black-0B: #0b0b0b; /* $black-0B: #0b0b0b; */
$pro-color-black-56: #565656;
$pro-color-black-21: #212121; /* $black-21: #212121; */
$pro-color-black-26: #262626;
$pro-color-black-transp01: rgba($pro-color-black, 0.1);
$pro-color-black-transp015: rgba($pro-color-black, 0.15);
$pro-color-black-transp02: rgba($pro-color-black, 0.2);
$pro-color-black-transp05: rgba($pro-color-black, 0.5);
$pro-color-black-transp06: rgba($pro-color-black, 0.6);
$pro-color-black-transp07: rgba($pro-color-black, 0.7);
$pro-color-black-transp025: rgba($pro-color-black, 0.25);

$pro-color-gray-36: #363636;
$pro-color-gray-3B: #3b3b3b; /* $grey-3B: #3b3b3b; */
$pro-color-gray-A8: #a8a8a8; /* $grey-A8: #a8a8a8; */
$pro-color-gray-A9: #a9a9a9; /* $grey-A9: #a9a9a9; */
$pro-color-gray-D6: #d6d6d6; /* $grey-D6: #d6d6d6; */
$pro-color-gray-D8: #d8d8d8; /* $grey-D6: #d6d6d6; */
$pro-color-gray-97: #979797; /* $gray-97: #979797; */
$pro-color-gray-53: #535353;
$pro-color-gray-444: #444; /* $gray-444: #444; $midblack: #444; */
$pro-color-gray-666: #666; /* $gray-666: #666; */
$pro-color-gray-333: #333;
$pro-color-gray-999: #999; /* $gray-999: #999; */
$pro-color-gray-ccc: #ccc; /* $grey-ccc: #ccc; */
$pro-color-gray-79: #797979;
$pro-color-gray-e5: #e5e5e5;
$pro-color-gray-31: #315d60; /* $blueGrey-60: #315d60; */
$pro-color-gray-a9: #a9a9a9;
$pro-color-gray-26: #262626;
$pro-color-gray-2c: #2c2c2c;
$pro-color-gray-32: #323232;
$pro-color-gray-84: #848484;
$pro-color-gray-ec: #ececec;
$pro-color-gray-ef: #efefef;
$pro-color-gray-f3: #f3f3f3;
$pro-color-gray-78: #787878;

$pro-color-gray-16: #163843; /* $pro-color-gray-999 + multiple blend mode */

/* Green, turquoise colors */
$pro-color-turquoise-25: #255e70; /* resumeTemplates color */
$pro-color-turquoise-1B: #1b9699; /* $turquoise-1B: #1b9699; */
$pro-color-turquoise-4F: #4f9499; /* $turquoise-4F: #4f9499; */
$pro-color-turquoise-4F-trans05: rgba($pro-color-turquoise-4F, 0.5);
$pro-color-turquoise-48: #48878b;
$pro-color-turquoise-DC: #dceaeb;
$pro-color-turquoise-1f: #1facaf;
$pro-color-green-7c: #7cab8c;

/* Red color */
$pro-color-scarlet: #bf4621; /* $scarlet: #bf4621; */
$pro-color-red-d5: #d50000;

/* Blue color */
$pro-color-blue-36: #365d84;
$pro-color-blue-55: #55acee;
$pro-color-blue-25: #255e70;
$pro-color-blue-21: #215464;
$pro-color-blue-05: #051822;
$pro-color-blue-24: #244654;
$pro-color-blue-20: #205363;
$pro-color-blue-2F: #2f758b;
$pro-color-blue-1D: #1d4b59;

/* Yellow color */
$pro-color-yellow-d3: #d39f4c;

/* Purple color */
$pro-color-purple-8B: #8b317c;
$pro-color-purple-70: #772068;

/* Type color */
$pro-color-analysis: #4f9499;
$pro-color-forecast: #365d84;
$pro-color-column: #778c37;

/* Social colors */
$pro-color-linkedin: #0976b4;
$pro-color-twitter: #55acee;
$pro-color-fb: #3b5998;
$pro-color-youtube: #e52d27;
$pro-color-googleplus: #dd4b39;
$pro-color-podcast-top: #790ac5;
$pro-color-podcast-bottom: #d483fb;

/* purple color */
$pro-color-purple: #772068;

/* Sizing Variables */
//divider variable
$XLdivider: 14.8;
$Ldivider: 10.24;
$Sdivider: 3.2;
$vw: vw;
$px0p5: 0.5 / $XLdivider + $vw;
$px1: 1 / $XLdivider + $vw;
$px1p2: 1.2 / $XLdivider + $vw;
$px1p6: 1.6 / $XLdivider + $vw;
$px2: 2 / $XLdivider + $vw;
$px3: 3 / $XLdivider + $vw;
$px4: 4 / $XLdivider + $vw;
$px5: 5 / $XLdivider + $vw;
$px6: 6 / $XLdivider + $vw;
$px7: 7 / $XLdivider + $vw;
$px8: 8 / $XLdivider + $vw;
$px9: 9 / $XLdivider + $vw;
$px10: 10 / $XLdivider + $vw;
$px11: 11 / $XLdivider + $vw;
$px12: 12 / $XLdivider + $vw;
$px13: 13 / $XLdivider + $vw;
$px14: 14 / $XLdivider + $vw;
$px15: 15 / $XLdivider + $vw;
$px16: 16 / $XLdivider + $vw;
$px17: 17 / $XLdivider + $vw;
$px18: 18 / $XLdivider + $vw;
$px19: 19 / $XLdivider + $vw;
$px20: 20 / $XLdivider + $vw;
$px21: 21 / $XLdivider + $vw;
$px22: 22 / $XLdivider + $vw;
$px23: 23 / $XLdivider + $vw;
$px24: 24 / $XLdivider + $vw;
$px25: 25 / $XLdivider + $vw;
$px26: 26 / $XLdivider + $vw;
$px27: 27 / $XLdivider + $vw;
$px28: 28 / $XLdivider + $vw;
$px29: 29 / $XLdivider + $vw;
$px30: 30 / $XLdivider + $vw;
$px31: 31 / $XLdivider + $vw;
$px32: 32 / $XLdivider + $vw;
$px33: 33 / $XLdivider + $vw;
$px34: 34 / $XLdivider + $vw;
$px35: 35 / $XLdivider + $vw;
$px36: 36 / $XLdivider + $vw;
$px37: 37 / $XLdivider + $vw;
$px38: 38 / $XLdivider + $vw;
$px39: 39 / $XLdivider + $vw;
$px40: 40 / $XLdivider + $vw;
$px41: 41 / $XLdivider + $vw;
$px42: 42 / $XLdivider + $vw;
$px43: 43 / $XLdivider + $vw;
$px44: 44 / $XLdivider + $vw;
$px45: 45 / $XLdivider + $vw;
$px46: 46 / $XLdivider + $vw;
$px47: 47 / $XLdivider + $vw;
$px48: 48 / $XLdivider + $vw;
$px49: 49 / $XLdivider + $vw;
$px50: 50 / $XLdivider + $vw;
$px51: 51 / $XLdivider + $vw;
$px52: 52 / $XLdivider + $vw;
$px53: 53 / $XLdivider + $vw;
$px54: 54 / $XLdivider + $vw;
$px55: 55 / $XLdivider + $vw;
$px56: 56 / $XLdivider + $vw;
$px60: 60 / $XLdivider + $vw;
$px62: 62 / $XLdivider + $vw;
$px64: 64 / $XLdivider + $vw;
$px65: 65 / $XLdivider + $vw;
$px68: 68 / $XLdivider + $vw;
$px70: 70 / $XLdivider + $vw;
$px72: 72 / $XLdivider + $vw;
$px75: 75 / $XLdivider + $vw;
$px80: 80 / $XLdivider + $vw;
$px81: 81 / $XLdivider + $vw;
$px82: 82 / $XLdivider + $vw;
$px83: 83 / $XLdivider + $vw;
$px84: 84 / $XLdivider + $vw;
$px85: 85 / $XLdivider + $vw;
$px86: 86 / $XLdivider + $vw;
$px87: 87 / $XLdivider + $vw;
$px88: 88 / $XLdivider + $vw;
$px89: 89 / $XLdivider + $vw;
$px90: 90 / $XLdivider + $vw;
$px92: 92 / $XLdivider + $vw;
$px95: 95 / $XLdivider + $vw;
$px100: 100 / $XLdivider + $vw;
$px108: 108 / $XLdivider + $vw;
$px110: 110 / $XLdivider + $vw;
$px115: 115 / $XLdivider + $vw;
$px120: 120 / $XLdivider + $vw;
$px130: 130 / $XLdivider + $vw;
$px135: 135 / $XLdivider + $vw;
$px132: 132 / $XLdivider + $vw;
$px140: 140 / $XLdivider + $vw;
$px145: 145 / $XLdivider + $vw;
$px147: 147 / $XLdivider + $vw;
$px150: 150 / $XLdivider + $vw;
$px155: 155 / $XLdivider + $vw;
$px160: 160 / $XLdivider + $vw;
$px165: 165 / $XLdivider + $vw;
$px170: 170 / $XLdivider + $vw;
$px175: 175 / $XLdivider + $vw;
$px180: 180 / $XLdivider + $vw;
$px185: 185 / $XLdivider + $vw;
$px190: 190 / $XLdivider + $vw;
$px195: 195 / $XLdivider + $vw;
$px200: 200 / $XLdivider + $vw;
$px210: 210 / $XLdivider + $vw;
$px215: 215 / $XLdivider + $vw;
$px216: 216 / $XLdivider + $vw;
$px220: 220 / $XLdivider + $vw;
$px225: 225 / $XLdivider + $vw;
$px230: 230 / $XLdivider + $vw;
$px235: 235 / $XLdivider + $vw;
$px240: 240 / $XLdivider + $vw;
$px250: 250 / $XLdivider + $vw;
$px255: 255 / $XLdivider + $vw;
$px259: 259 / $XLdivider + $vw;
$px260: 260 / $XLdivider + $vw;
$px269: 269 / $XLdivider + $vw;
$px280: 280 / $XLdivider + $vw;
$px285: 285 / $XLdivider + $vw;
$px290: 290 / $XLdivider + $vw;
$px292: 292 / $XLdivider + $vw;
$px295: 295 / $XLdivider + $vw;
$px300: 300 / $XLdivider + $vw;
$px305: 305 / $XLdivider + $vw;
$px307: 307 / $XLdivider + $vw;
$px315: 315 / $XLdivider + $vw;
$px320: 320 / $XLdivider + $vw;
$px325: 325 / $XLdivider + $vw;
$px330: 330 / $XLdivider + $vw;
$px335: 335 / $XLdivider + $vw;
$px340: 340 / $XLdivider + $vw;
$px345: 345 / $XLdivider + $vw;
$px350: 350 / $XLdivider + $vw;
$px355: 355 / $XLdivider + $vw;
$px360: 360 / $XLdivider + $vw;
$px370: 370 / $XLdivider + $vw;
$px375: 375 / $XLdivider + $vw;
$px380: 380 / $XLdivider + $vw;
$px385: 385 / $XLdivider + $vw;
$px390: 390 / $XLdivider + $vw;
$px395: 395 / $XLdivider + $vw;
$px400: 400 / $XLdivider + $vw;
$px410: 410 / $XLdivider + $vw;
$px418: 418 / $XLdivider + $vw;
$px420: 420 / $XLdivider + $vw;
$px430: 430 / $XLdivider + $vw;
$px434: 434 / $XLdivider + $vw;
$px440: 440 / $XLdivider + $vw;
$px450: 450 / $XLdivider + $vw;
$px452: 452 / $XLdivider + $vw;
$px454: 454 / $XLdivider + $vw;
$px455: 455 / $XLdivider + $vw;
$px456: 456 / $XLdivider + $vw;
$px460: 460 / $XLdivider + $vw;
$px474: 474 / $XLdivider + $vw;
$px480: 480 / $XLdivider + $vw;
$px490: 490 / $XLdivider + $vw;
$px500: 500 / $XLdivider + $vw;
$px510: 510 / $XLdivider + $vw;
$px540: 540 / $XLdivider + $vw;
$px550: 540 / $XLdivider + $vw;
$px580: 580 / $XLdivider + $vw;
$px590: 590 / $XLdivider + $vw;
$px600: 600 / $XLdivider + $vw;
$px610: 610 / $XLdivider + $vw;
$px620: 620 / $XLdivider + $vw;
$px640: 640 / $XLdivider + $vw;
$px650: 650 / $XLdivider + $vw;
$px655: 655 / $XLdivider + $vw;
$px660: 660 / $XLdivider + $vw;
$px670: 670 / $XLdivider + $vw;
$px700: 700 / $XLdivider + $vw;
$px710: 710 / $XLdivider + $vw;
$px712: 712 / $XLdivider + $vw;
$px720: 720 / $XLdivider + $vw;
$px750: 750 / $XLdivider + $vw;
$px770: 770 / $XLdivider + $vw;
$px780: 780 / $XLdivider + $vw;
$px800: 800 / $XLdivider + $vw;
$px810: 810 / $XLdivider + $vw;
$px840: 840 / $XLdivider + $vw;
$px860: 860 / $XLdivider + $vw;
$px910: 910 / $XLdivider + $vw;
$px920: 920 / $XLdivider + $vw;
$px930: 930 / $XLdivider + $vw;
$px944: 944 / $XLdivider + $vw;
$px945: 945 / $XLdivider + $vw;
$px950: 950 / $XLdivider + $vw;
$px960: 960 / $XLdivider + $vw;
$px990: 990 / $XLdivider + $vw;
$px1000: 1000 / $XLdivider + $vw;
$px1020: 1020 / $XLdivider + $vw;
$px1090: 1090 / $XLdivider + $vw;
$px1100: 1100 / $XLdivider + $vw;
$px1170: 1170 / $XLdivider + $vw;
$px1200: 1200 / $XLdivider + $vw;
$px1210: 1210 / $XLdivider + $vw;
$px1250: 1250 / $XLdivider + $vw;
$px1240: 1240 / $XLdivider + $vw;
$px1280: 1280 / $XLdivider + $vw;
$px1282: 1282 / $XLdivider + $vw;
$px1320: 1320 / $XLdivider + $vw;

//breakpoint1 sizing variables ($bp1)
$tablet-px0p5: 0.5 / $Ldivider + $vw;
$tablet-px1: 1 / $Ldivider + $vw;
$tablet-px0p5: 0.5 / $Ldivider + $vw;
$tablet-px1p2: 1.2 / $Ldivider + $vw;
$tablet-px2: 2 / $Ldivider + $vw;
$tablet-px3: 3 / $Ldivider + $vw;
$tablet-px4: 4 / $Ldivider + $vw;
$tablet-px5: 5 / $Ldivider + $vw;
$tablet-px6: 6 / $Ldivider + $vw;
$tablet-px7: 7 / $Ldivider + $vw;
$tablet-px8: 8 / $Ldivider + $vw;
$tablet-px9: 9 / $Ldivider + $vw;
$tablet-px10: 10 / $Ldivider + $vw;
$tablet-px11: 11 / $Ldivider + $vw;
$tablet-px12: 12 / $Ldivider + $vw;
$tablet-px13: 13 / $Ldivider + $vw;
$tablet-px14: 14 / $Ldivider + $vw;
$tablet-px15: 15 / $Ldivider + $vw;
$tablet-px16: 16 / $Ldivider + $vw;
$tablet-px17: 17 / $Ldivider + $vw;
$tablet-px18: 18 / $Ldivider + $vw;
$tablet-px19: 19 / $Ldivider + $vw;
$tablet-px20: 20 / $Ldivider + $vw;
$tablet-px21: 21 / $Ldivider + $vw;
$tablet-px22: 22 / $Ldivider + $vw;
$tablet-px24: 24 / $Ldivider + $vw;
$tablet-px25: 25 / $Ldivider + $vw;
$tablet-px26: 26 / $Ldivider + $vw;
$tablet-px27: 27 / $Ldivider + $vw;
$tablet-px28: 28 / $Ldivider + $vw;
$tablet-px29: 29 / $Ldivider + $vw;
$tablet-px30: 30 / $Ldivider + $vw;
$tablet-px31: 31 / $Ldivider + $vw;
$tablet-px32: 32 / $Ldivider + $vw;
$tablet-px33: 33 / $Ldivider + $vw;
$tablet-px35: 35 / $Ldivider + $vw;
$tablet-px36: 36 / $Ldivider + $vw;
$tablet-px37: 37 / $Ldivider + $vw;
$tablet-px39: 39 / $Ldivider + $vw;
$tablet-px40: 40 / $Ldivider + $vw;
$tablet-px41: 41 / $Ldivider + $vw;
$tablet-px42: 42 / $Ldivider + $vw;
$tablet-px43: 43 / $Ldivider + $vw;
$tablet-px45: 45 / $Ldivider + $vw;
$tablet-px48: 48 / $Ldivider + $vw;
$tablet-px50: 50 / $Ldivider + $vw;
$tablet-px51: 51 / $Ldivider + $vw;
$tablet-px52: 52 / $Ldivider + $vw;
$tablet-px54: 54 / $Ldivider + $vw;
$tablet-px55: 55 / $Ldivider + $vw;
$tablet-px60: 60 / $Ldivider + $vw;
$tablet-px64: 64 / $Ldivider + $vw;
$tablet-px65: 65 / $Ldivider + $vw;
$tablet-px68: 68 / $Ldivider + $vw;
$tablet-px70: 70 / $Ldivider + $vw;
$tablet-px72: 72 / $Ldivider + $vw;
$tablet-px75: 75 / $Ldivider + $vw;
$tablet-px77: 77 / $Ldivider + $vw;
$tablet-px80: 80 / $Ldivider + $vw;
$tablet-px81: 81 / $Ldivider + $vw;
$tablet-px85: 85 / $Ldivider + $vw;
$tablet-px88: 88 / $Ldivider + $vw;
$tablet-px90: 90 / $Ldivider + $vw;
$tablet-px92: 92 / $Ldivider + $vw;
$tablet-px95: 95 / $Ldivider + $vw;
$tablet-px100: 100 / $Ldivider + $vw;
$tablet-px108: 108 / $Ldivider + $vw;
$tablet-px110: 110 / $Ldivider + $vw;
$tablet-px115: 115 / $Ldivider + $vw;
$tablet-px120: 120 / $Ldivider + $vw;
$tablet-px130: 130 / $Ldivider + $vw;
$tablet-px135: 135 / $Ldivider + $vw;
$tablet-px140: 140 / $Ldivider + $vw;
$tablet-px139: 139 / $Ldivider + $vw;
$tablet-px147: 147 / $Ldivider + $vw;
$tablet-px150: 150 / $Ldivider + $vw;
$tablet-px160: 160 / $Ldivider + $vw;
$tablet-px170: 170 / $Ldivider + $vw;
$tablet-px175: 175 / $Ldivider + $vw;
$tablet-px180: 180 / $Ldivider + $vw;
$tablet-px190: 190 / $Ldivider + $vw;
$tablet-px200: 200 / $Ldivider + $vw;
$tablet-px210: 210 / $Ldivider + $vw;
$tablet-px212: 212 / $Ldivider + $vw;
$tablet-px215: 215 / $Ldivider + $vw;
$tablet-px216: 216 / $Ldivider + $vw;
$tablet-px220: 220 / $Ldivider + $vw;
$tablet-px230: 230 / $Ldivider + $vw;
$tablet-px235: 235 / $Ldivider + $vw;
$tablet-px240: 240 / $Ldivider + $vw;
$tablet-px241: 241 / $Ldivider + $vw;
$tablet-px250: 250 / $Ldivider + $vw;
$tablet-px259: 259 / $Ldivider + $vw;
$tablet-px260: 260 / $Ldivider + $vw;
$tablet-px269: 269 / $Ldivider + $vw;
$tablet-px270: 270 / $Ldivider + $vw;
$tablet-px280: 280 / $Ldivider + $vw;
$tablet-px290: 290 / $Ldivider + $vw;
$tablet-px295: 295 / $Ldivider + $vw;
$tablet-px300: 300 / $Ldivider + $vw;
$tablet-px305: 305 / $Ldivider + $vw;
$tablet-px310: 310 / $Ldivider + $vw;
$tablet-px315: 315 / $Ldivider + $vw;
$tablet-px320: 320 / $Ldivider + $vw;
$tablet-px330: 330 / $Ldivider + $vw;
$tablet-px340: 340 / $Ldivider + $vw;
$tablet-px335: 335 / $Ldivider + $vw;
$tablet-px345: 345 / $Ldivider + $vw;
$tablet-px350: 350 / $Ldivider + $vw;
$tablet-px355: 355 / $Ldivider + $vw;
$tablet-px360: 360 / $Ldivider + $vw;
$tablet-px370: 370 / $Ldivider + $vw;
$tablet-px380: 380 / $Ldivider + $vw;
$tablet-px385: 385 / $Ldivider + $vw;
$tablet-px390: 390 / $Ldivider + $vw;
$tablet-px395: 395 / $Ldivider + $vw;
$tablet-px400: 400 / $Ldivider + $vw;
$tablet-px420: 420 / $Ldivider + $vw;
$tablet-px430: 430 / $Ldivider + $vw;
$tablet-px434: 434 / $Ldivider + $vw;
$tablet-px440: 440 / $Ldivider + $vw;
$tablet-px460: 460 / $Ldivider + $vw;
$tablet-px474: 474 / $Ldivider + $vw;
$tablet-px480: 480 / $Ldivider + $vw;
$tablet-px500: 500 / $Ldivider + $vw;
$tablet-px520: 520 / $Ldivider + $vw;
$tablet-px540: 540 / $Ldivider + $vw;
$tablet-px550: 540 / $Ldivider + $vw;
$tablet-px570: 570 / $Ldivider + $vw;
$tablet-px580: 580 / $Ldivider + $vw;
$tablet-px590: 590 / $Ldivider + $vw;
$tablet-px600: 600 / $Ldivider + $vw;
$tablet-px610: 610 / $Ldivider + $vw;
$tablet-px620: 620 / $Ldivider + $vw;
$tablet-px635: 635 / $Ldivider + $vw;
$tablet-px640: 640 / $Ldivider + $vw;
$tablet-px650: 650 / $Ldivider + $vw;
$tablet-px670: 670 / $Ldivider + $vw;
$tablet-px700: 700 / $Ldivider + $vw;
$tablet-px712: 712 / $Ldivider + $vw;
$tablet-px720: 720 / $Ldivider + $vw;
$tablet-px730: 730 / $Ldivider + $vw;
$tablet-px760: 760 / $Ldivider + $vw;
$tablet-px770: 770 / $Ldivider + $vw;
$tablet-px780: 780 / $Ldivider + $vw;
$tablet-px800: 800 / $Ldivider + $vw;
$tablet-px810: 810 / $Ldivider + $vw;
$tablet-px860: 860 / $Ldivider + $vw;
$tablet-px910: 910 / $Ldivider + $vw;
$tablet-px930: 930 / $Ldivider + $vw;
$tablet-px940: 940 / $Ldivider + $vw;
$tablet-px950: 950 / $Ldivider + $vw;
$tablet-px960: 960 / $Ldivider + $vw;
$tablet-px962: 962 / $Ldivider + $vw;
$tablet-px990: 990 / $Ldivider + $vw;
$tablet-px1000: 1000 / $Ldivider + $vw;
$tablet-px1240: 1240 / $Ldivider + $vw;
$tablet-px1250: 1250 / $Ldivider + $vw;
$tablet-px1280: 1280 / $Ldivider + $vw;
$tablet-px1570: 1570 / $Ldivider + $vw;
$tablet-px1610: 1610 / $Ldivider + $vw;
$tablet-px1940: 1940 / $Ldivider + $vw;
$tablet-px2270: 2270 / $Ldivider + $vw;

//breakpoint2 sizing variables
$phone-px1: 1 / $Sdivider + $vw;
$phone-px1p2: 1.2 / $Sdivider + $vw;
$phone-px2: 2 / $Sdivider + $vw;
$phone-px3: 3 / $Sdivider + $vw;
$phone-px4: 4 / $Sdivider + $vw;
$phone-px5: 5 / $Sdivider + $vw;
$phone-px6: 6 / $Sdivider + $vw;
$phone-px7: 7 / $Sdivider + $vw;
$phone-px8: 8 / $Sdivider + $vw;
$phone-px9: 9 / $Sdivider + $vw;
$phone-px10: 10 / $Sdivider + $vw;
$phone-px11: 11 / $Sdivider + $vw;
$phone-px12: 12 / $Sdivider + $vw;
$phone-px13: 13 / $Sdivider + $vw;
$phone-px14: 14 / $Sdivider + $vw;
$phone-px15: 15 / $Sdivider + $vw;
$phone-px16: 16 / $Sdivider + $vw;
$phone-px17: 17 / $Sdivider + $vw;
$phone-px18: 18 / $Sdivider + $vw;
$phone-px19: 19 / $Sdivider + $vw;
$phone-px20: 20 / $Sdivider + $vw;
$phone-px21: 21 / $Sdivider + $vw;
$phone-px22: 22 / $Sdivider + $vw;
$phone-px24: 24 / $Sdivider + $vw;
$phone-px25: 25 / $Sdivider + $vw;
$phone-px26: 26 / $Sdivider + $vw;
$phone-px27: 27 / $Sdivider + $vw;
$phone-px28: 28 / $Sdivider + $vw;
$phone-px29: 29 / $Sdivider + $vw;
$phone-px30: 30 / $Sdivider + $vw;
$phone-px32: 32 / $Sdivider + $vw;
$phone-px33: 33 / $Sdivider + $vw;
$phone-px34: 34 / $Sdivider + $vw;
$phone-px35: 35 / $Sdivider + $vw;
$phone-px36: 36 / $Sdivider + $vw;
$phone-px37: 37 / $Sdivider + $vw;
$phone-px38: 38 / $Sdivider + $vw;
$phone-px39: 39 / $Sdivider + $vw;
$phone-px40: 40 / $Sdivider + $vw;
$phone-px41: 41 / $Sdivider + $vw;
$phone-px42: 42 / $Sdivider + $vw;
$phone-px43: 43 / $Sdivider + $vw;
$phone-px45: 45 / $Sdivider + $vw;
$phone-px48: 48 / $Sdivider + $vw;
$phone-px50: 50 / $Sdivider + $vw;
$phone-px51: 51 / $Sdivider + $vw;
$phone-px54: 54 / $Sdivider + $vw;
$phone-px60: 60 / $Sdivider + $vw;
$phone-px64: 64 / $Sdivider + $vw;
$phone-px65: 65 / $Sdivider + $vw;
$phone-px68: 68 / $Sdivider + $vw;
$phone-px70: 70 / $Sdivider + $vw;
$phone-px75: 75 / $Sdivider + $vw;
$phone-px80: 80 / $Sdivider + $vw;
$phone-px81: 81 / $Sdivider + $vw;
$phone-px85: 85 / $Sdivider + $vw;
$phone-px90: 90 / $Sdivider + $vw;
$phone-px95: 95 / $Sdivider + $vw;
$phone-px96: 96 / $Sdivider + $vw;
$phone-px100: 100 / $Sdivider + $vw;
$phone-px108: 108 / $Sdivider + $vw;
$phone-px110: 110 / $Sdivider + $vw;
$phone-px115: 115 / $Sdivider + $vw;
$phone-px120: 120 / $Sdivider + $vw;
$phone-px130: 130 / $Sdivider + $vw;
$phone-px135: 135 / $Sdivider + $vw;
$phone-px140: 140 / $Sdivider + $vw;
$phone-px145: 145 / $Sdivider + $vw;
$phone-px147: 147 / $Sdivider + $vw;
$phone-px150: 150 / $Sdivider + $vw;
$phone-px156: 156 / $Sdivider + $vw;
$phone-px160: 160 / $Sdivider + $vw;
$phone-px170: 170 / $Sdivider + $vw;
$phone-px175: 175 / $Sdivider + $vw;
$phone-px180: 180 / $Sdivider + $vw;
$phone-px188: 188 / $Sdivider + $vw;
$phone-px190: 190 / $Sdivider + $vw;
$phone-px195: 195 / $Sdivider + $vw;
$phone-px200: 200 / $Sdivider + $vw;
$phone-px215: 215 / $Sdivider + $vw;
$phone-px216: 216 / $Sdivider + $vw;
$phone-px220: 220 / $Sdivider + $vw;
$phone-px230: 230 / $Sdivider + $vw;
$phone-px240: 240 / $Sdivider + $vw;
$phone-px250: 250 / $Sdivider + $vw;
$phone-px259: 259 / $Sdivider + $vw;
$phone-px260: 260 / $Sdivider + $vw;
$phone-px270: 270 / $Sdivider + $vw;
$phone-px290: 290 / $Sdivider + $vw;
$phone-px295: 295 / $Sdivider + $vw;
$phone-px300: 300 / $Sdivider + $vw;
$phone-px315: 315 / $Sdivider + $vw;
$phone-px320: 320 / $Sdivider + $vw;
$phone-px330: 330 / $Sdivider + $vw;
$phone-px335: 335 / $Sdivider + $vw;
$phone-px340: 340 / $Sdivider + $vw;
$phone-px355: 355 / $Sdivider + $vw;
$phone-px360: 360 / $Sdivider + $vw;
$phone-px400: 400 / $Sdivider + $vw;
$phone-px440: 440 / $Sdivider + $vw;
$phone-px580: 580 / $Sdivider + $vw;
$phone-px520: 520 / $Sdivider + $vw;
$phone-px600: 600 / $Sdivider + $vw;
$phone-px610: 610 / $Sdivider + $vw;
$phone-px620: 620 / $Sdivider + $vw;
$phone-px712: 712 / $Sdivider + $vw;
$phone-px910: 910 / $Sdivider + $vw;
$phone-px930: 930 / $Sdivider + $vw;
$phone-px1240: 1240 / $Sdivider + $vw;
$phone-px1250: 1250 / $Sdivider + $vw;
